{% extends "courses/layout.html"%}
{% load course_extras %}

{% block title %} {{step.title}} - {{step.course.title}} {% endblock %}

{% block content %}
<article>
    <h2>{{ step.course.title }}</h2>
    <h3>{{ step.title }}</h3>
    {% with con=step.content %}
        {{ con|linebreaks }} Content: {{con|wordcount}} words. Time estimated : {{ con|wordcount|time_estimate }} minute{{ con|wordcount|time_estimate|pluralize }}
    {% endwith %}
</article>
{% endblock %}