{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}KraySpeed{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" style="width: 100%; margin: 0 auto; margin-bottom: 60px;"
    data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/car1.jpg' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/car2.png' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/car3.jpg' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container col-sm-12" style="width: 70%;">
    <h1 style="text-align: center;">New Arrivals</h1>
    <div class="row">
        {% with new_arrivals=cars|slice:'0:5' %}
            {% for car in new_arrivals %}
                <div class="col-3 card rounded">
                    <div class="car-img">
                        <img src="{{ car.photo.url }}">
                        <div class="item-overlay top"></div>
                    </div>
                    <div class="car-info">
                        <p>{{ car.make|capfirst }} - {{ car.model|capfirst }}</p>
                        <p>Mileage: {{ car.mileage|intcomma }} km</p>
                        <p>Year: {{ car.year }} </p>
                        <p>Gearbox: {{ car.gearbox|capfirst }} </p>
                        <p>Fuel: {{ car.fuel|capfirst }} </p>
                    </div>
                    <div class="price">
                        <p> {{ car.price|intcomma }} € </p>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
</div>
{% endblock content %}