body {
    font-family: 'Montserrat', sans-serif !important;
    min-width: 991px !important;
}

.navbar {
    background-color: #414141 !important;
    height: 70px;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.container {
    max-width: 90% !important;
}

.nav-logo {
    width: 200px;
    height: 23px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.currency {
    background-color: #414141;
    color: white;
}

:root {
    --mainColor: rgb(252, 13, 28);
}

.nav-item a {
    background: linear-gradient( to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #000;
    text-decoration: none;
    transition: background-size .4s;
}

.nav-item a:hover {
    background-size: 4px 50px;
}

.carousel {
    width: 100%;
    height: 650px;
}

.carousel-item img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100% !important;
    height: 650px;
    opacity: 0.7;
    filter: brightness(50%);
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #414141;
    border:none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}

.carousel-indicators .active {
    background-color: rgb(252, 13, 28) ;
    width: 15px; 
    height: 15px;  
    margin-right: 5px;
    margin-left: 5px;  
    margin-top: 0;
    margin-bottom: 0; 
}

h1{
    z-index: 100;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    color: white;
}


/********************************* Section 1 styles *********************************/

.section1{
    height: 300px;
    background-color: #F2EBEF;
    vertical-align: middle;
}

.section1 p {
    float:left;
    height: auto;
    
}

.small-container{
    height: 100%;
    width: 60%;
    margin: auto;
}

.filter-div{
    z-index: 100;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 150px;
    top: 57%;
}

.filter{
    width: 60%;
    min-width: 710px;
    height: 100%;
    margin: auto;
}
.row{
    text-align: center;
}

.row-title{
    height: 20%;
}

.row-title .col-3{
    text-align: left !important;
    padding-left: 40px;
    color: white;
    font-size: 0.8em;
}

.row-option{
    height: 40%;
    padding: 10px;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 5px;
    color: #969696
}
.row-submit{
    height: 40%;
    text-align: center;
    margin-top: 20px;
}

.btn.discover{
    margin:auto; 
    background-color: rgb(252, 13, 28); 
    color:white;
    border-radius: 50px;
    width: 130px;
    transition: background-color 0.2s ease-out;
}

.btn.discover:hover{
    background-color: rgb(196, 5, 18);
    cursor: pointer;
}

.caret{
    display: none;
}

.btn-group.bootstrap-select{
    outline: none !important;
    border: none !important;
    background-color: none;
    width: 100% !important;
}

.form-control.custom-select{
    color: #969696;
    border-radius: 5px;
    width: 90%;
    border:none;
    background: none;
    outline: none !important;
    padding-top: 7px;
    padding-bottom: 7px;
}

.form-control:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(255, 255, 255, 0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(255, 255, 255, 0);
}

.form-control.custom-select{
    border:none;
    outline: none;
}

.datepick{
    width: 50%;
    float: left;
    height: 100%;
    text-align: left;
    padding: 7px;
    padding-left: 12px;
    background-color: rgba(255,255,255, 0.9);
}

#arrival{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#departure{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#arrival:after {
    content: "";
    background-color: rgb(196, 192, 192);
    position: absolute;
    width: 1px;
    height: 25px;
    top: 7px;
    left: 50%;
    display: block;
}

.number-people{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.9);
    text-align: left;
    padding: 7px;
    border: none;
    color: #969696;
    padding-left: 12px;
    outline: none;
}

.datepick input {
    width:80%; 
    border:none; 
    background:none;
    color: #969696;
    outline: none;
    padding-left: 12px;
}

.col-3.number-people input{
    width:80%; 
    border:none; 
    background:none;
    color: #969696;
    outline: none;
    padding-left: 12px;
}

.country-select{
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background-color: rgba(255,255,255, 0.9);
    text-align: left;
    padding: 0;
    border: none;
    color: #969696;
    padding-left: 12px;
    outline: none !important;
    box-shadow: none;
}

.country-select:focus{
    border: none;
}

.row.row-option i {
    color: rgb(252, 13, 28);
}

/********************************* Section 2 styles *********************************/

.section2{
    height: 500px;
    background-color:white;
    vertical-align: middle;
}

.service{
    height:100%;
    margin: auto;
}

.title{
    height: 30%;
    font-size: 30px;
    font-weight: bolder;
    color: #425B6F;
    font-family: 'Varela Round', sans-serif !important; 
    padding-top: 50px;
    letter-spacing: 2px;
}

.detail{
    height: 70%;
    padding-top: 30px;
}



.row.detail img{
    height: 40%;
    margin-bottom: 60px;
}

.row.detail p{
    font-weight: bold;
    letter-spacing: 1px;
}

/********************************* Section 3 styles *********************************/

.section3 {
    height: 900px;
    background-color:#E5F1EF; 
    vertical-align: middle;
}

.choice-title{
    height: 20%;
    font-size: 30px;
    font-weight: bolder;
    color: #425B6F;
    font-family: 'Varela Round', sans-serif !important; 
    padding-top: 50px;
    letter-spacing: 2px;
}

.row.choice{
    height: 35%;
}

.row.choice img{
    width: 100%;
    height: 100%;
}

.row.choice .col-6 {
    margin-bottom: 10px;
}

.row.choice .col-6:hover{
    background-color: rgb(255, 232, 233);
    border: 2px solid rgb(252, 13, 28);
}


.btn.choose{
    background-color: rgb(252, 13, 28); 
    color:white;
    border-radius: 50px;
    width: 130px;
    transition: background-color 0.2s ease-out;
}

.btn.choose:hover{
    background-color: rgb(196, 5, 18);
    cursor: pointer;
}

.choose-div{
    z-index: 100;
    position: absolute;
    text-align: center;
    width: 98%;
    top: 40%;
    color: white;
}

.choose-div h2{
    font-weight: bolder;
    margin-bottom: 20px;
}

.row.choice img{
    filter: brightness(90%);
    opacity: 0.7;
}

/********************************* Section 4 styles *********************************/

.section4{
    height: 650px;
    background-color: white;
}

.video-title{
    height: 20%;
    font-size: 30px;
    font-weight: bolder;
    color: #425B6F;
    font-family: 'Varela Round', sans-serif !important; 
    padding-top: 50px;
    letter-spacing: 2px;
}

.video-player{
    height: 400px;
    margin-bottom: 30px;
    background-color: black;
    position: relative;
    object-fit: contain;
}
.video-player video{
    max-height: 373px;
}

.small-video-player{
    height: 33.333333333333%;
    padding: 0;
}


.row.video-player .col-9{
    padding: 0;
}

.row.video-player .col-9 video{
    margin-top: 15px;
}

.row.video-player .col-3{
    padding: 0;
}

/********************************* Section 5 styles *********************************/

.section5{
    height: 700px;
    background-color: #F2EBEF;
    width: 100%;
}

.contact-title{
    height: 20%;
    font-size: 30px;
    font-weight: bolder;
    color: #425B6F;
    font-family: 'Varela Round', sans-serif !important; 
    padding-top: 50px;
    letter-spacing: 2px;
}

.contact{
    height: 80%;
}

.row.contact label{
    width: 100%;
    height: 20%;
    text-align: left;
    color: #425B6F;
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 500;
}

.row.contact input {
    width: 100%;
    height: 40%;
    text-align: left;
    padding: 10px;
    border: 1.5px solid rgb(252, 13, 28); 
    background-color: #F2EBEF;
    font-size: 0.8em;
    outline: none;
    transition: 0.4s;
}

/* .input-effect ~ .focus-border:before,
.input-effect ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: rgb(252, 13, 28); transition: 0.3s;}
.input-effect ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.input-effect ~ .focus-border i:before,
.input-effect ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: rgb(252, 13, 28); transition: 0.4s;}
.input-effect ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.input-effect:focus ~ .focus-border:before,
.input-effect:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.input-effect:focus ~ .focus-border i:before,
.input-effect:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;} */

.row.contact textarea{
    height:80%; 
    width:100%;padding: 10px; 
    background-color: #F2EBEF; 
    border: 1.5px solid rgb(252, 13, 28); 
    font-size: 0.8em;
    outline: none;
    transition: 0.4s;
}

.btn.contact{
    margin:auto; 
    background-color: rgb(252, 13, 28); 
    color:white;
    border-radius: 50px;
    width: 150px;
    transition: background-color 0.2s ease-out;
}

.btn.contact:hover{
    background-color: rgb(196, 5, 18);
    cursor: pointer;
}

.contact-submit{
    padding-top: 5%;
}
.contact-right{
    width: 100%;
    text-align: left;
}

.contact-right.map img{
    width: 100%;
    border: 1.6px solid rgb(252, 13, 28);
    margin-bottom: 15px;
}

.contact-right.info p {
    font-size: 0.8em;
    text-align:left; 
    color:#425B6F;
    margin-left: 40px;
}

.contact-right.info p i{
    margin-right: 20px;
    color: rgb(252, 13, 28);
}

/********************************* Footer styles *********************************/

.footer{
    height: 100px;
    background-color: #414141;
    width: 100%;
    padding-bottom: 0;
    font-size: 0.7em;
}

.footer .container{
    padding: 0;
    height: 100%;
    margin: auto;
}

.footer .col-6{
    padding:0;
    color: white;
    height: 100%;
}

.footer-option{
    height: 50%;
    padding-top: 25px;
    text-align: left;
}

.copyright{
    height: 50%;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: left;
}

.footer a{
    color: white;
    margin-right: 20px;    
}

.social-media{
    text-align: right;
    margin-top: 40px;
}

.footer i{
    font-size: 1.5em;
    margin-right: 10px;
}