.card {
    height: 360px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.car-img{
    height: 50%;
    background-color: black;
    display: inline-block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.car-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

  .card:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.car-info{
    height: 40%;
    line-height: 0.9em;
    padding-left: 20px;
}

.price{
    height: 10%;
    background-color: #337ab7;
    color: white;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
